<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход КОМПЬЮТЕР UA</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">
</head>
<body style="background: #e7ffee;">
<style>
    a {
        color: inherit;
    }
</style>
<div style="margin: 15px 50px">
    <header>
        <nav>
            <a href="./home.html" style="margin-right: 10px">КОМПЬЮТЕР UA</a>
            <a href="./catalog.html" style="margin-right:10px">КАТАЛОГ</a>
            <input name="query" autocomplete="off" type="search" placeholder="Поиск"
                   aria-label="Search">
            <button type="submit">Поиск</button>
            <a href="./cart.html" style="margin-right: 10px">Корзина</a>
            <a href="./login.html" style="margin-right:10px">Вход</a>
        </nav>
    </header>
    <main style="margin: 50px 0">
        <h2> Корзина </h2>
        <div>
            <a href="./product.html?id=1">
                <img alt="product image" src="../../public/img/183047178.jpg">
                <p>Компьютер HP ProDesk 600 G5 MT (160A8ES) Windows 10 Pro</p>
            </a>
            <p>10000<span>₴</span></p>
            <p>Intel Core i5-9600 (3.1 - 4.6 ГГц) / RAM 32 ГБ / SSD 512 ГБ / Intel UHD
                Graphics 630 / LAN х2 / Windows 10 Pro / клавиатура + мышь</p>
        </div>
        <div style="margin-top: 100px">
            <a href="./product.html?id=1">
                <img alt="product image" src="../../public/img/183047178.jpg">
                <p>Компьютер HP ProDesk 600 G5 MT (160A8ES) Windows 10 Pro</p>
            </a>
            <p>10000<span>₴</span></p>
            <p>Intel Core i5-9600 (3.1 - 4.6 ГГц) / RAM 32 ГБ / SSD 512 ГБ / Intel UHD
                Graphics 630 / LAN х2 / Windows 10 Pro / клавиатура + мышь</p>
        </div>
        <div style="margin-top: 100px">
            <a href="./product.html?id=1">
                <img alt="product image" src="../../public/img/183047178.jpg">
                <p>Компьютер HP ProDesk 600 G5 MT (160A8ES) Windows 10 Pro</p>
            </a>
            <p>10000<span>₴</span></p>
            <p>Intel Core i5-9600 (3.1 - 4.6 ГГц) / RAM 32 ГБ / SSD 512 ГБ / Intel UHD
                Graphics 630 / LAN х2 / Windows 10 Pro / клавиатура + мышь</p>
        </div>
        <button class="btn btn-success btn-order">Заказать</button>
    </main>
    <footer style="background: #2f2f2f; color: white;">
        <nav style="margin-bottom: 30px">
            <a href="./home.html">Главная</a>
            <a href="./catalog.html">Каталог</a>
            <a href="./cart.html">Корзина</a>
            <a href="./login.html">Вход</a>
            <a href="./register.html">Регистрация</a>
        </nav>
        <div>
            <div>
                <span>Авторские права защищены</span>
                <span>Автор: Бутенко В. А.</span>
            </div>
            <span>+38-093-333-33-33</span>
            <span>+38-097-777-77-77</span>
            <span>+38-099-999-99-99</span>
            <span>г. Харьков, ул. Безымянного, 42</span>
            <span>info@computer.ua</span>
        </div>
    </footer>
</div>
</body>
</html>